<div class="authentication-wrapper authentication-cover authentication-bg">
  <div class="authentication-inner row">
    <!-- /Left Text -->
    <div class="d-none d-lg-flex col-lg-7 p-0">
      <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
        <img
          src="../../../assets/img/illustrations/auth-login-illustration-light.png"
          alt="auth-login-cover"
          class="img-fluid my-5 auth-illustration"
          data-app-light-img="illustrations/auth-login-illustration-light.png"
          data-app-dark-img="illustrations/auth-login-illustration-dark.png" />

        <img
          src="../../../assets/img/illustrations/bg-shape-image-light.png"
          alt="auth-login-cover"
          class="platform-bg"
          data-app-light-img="illustrations/bg-shape-image-light.png"
          data-app-dark-img="illustrations/bg-shape-image-dark.png" />
      </div>
    </div>
    <!-- /Left Text -->

    <!-- Login -->
    <div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
      <div class="w-px-400 mx-auto">
        <!-- Logo -->
        <div class="app-brand mb-4">
          <a href="index.html" class="app-brand-link gap-2">
            <span class="app-brand-logo demo">
              <img src="../../../assets/img/brand/logo.png" alt="">
            </span>
          </a>
        </div>
        <!-- /Logo -->
        <h3 class="mb-1">Bienvenido</h3>
        <p class="mb-4">Inicia sesión en tu cuenta</p>

        <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico:</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email-username"
              placeholder="Ingresa tu correo electrónico"
              autofocus />
          </div>
          <div class="mb-3 form-password-toggle">
            <div class="d-flex justify-content-between">
              <label class="form-label" for="password">Contraseña:</label>
              <a href="auth-forgot-password-cover.html">
                <small>Forgot Password?</small>
              </a>
            </div>
            <div class="input-group input-group-merge">
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                aria-describedby="password" />
              <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
            </div>
          </div>
          <button class="btn btn-primary d-grid w-100">Ingresar</button>
        </form>

        <p class="text-center">
          <a href="auth-register-cover.html">
            <span>Create an account</span>
          </a>
        </p>

        <!-- <div class="divider my-4">
          <div class="divider-text">o</div>
        </div>

        <div class="d-flex justify-content-center">
          <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
            <i class="tf-icons fa-brands fa-google fs-5"></i>
          </a>
        </div> -->
      </div>
    </div>
  </div>
</div>
